NET "aout" LOC = P51 | IOSTANDARD = LVTTL;
NET "bout" LOC = P41 | IOSTANDARD = LVTTL;
NET "cout" LOC = P35 | IOSTANDARD = LVTTL;
NET "sin" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "cin" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;


